#cash-desk .ui.loading.form:after {
  all: initial;
  position: absolute;
  content: ' ';
  margin: -6.5em 0 0 1em;
  visibility: visible;
  z-index: 101;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Open Sans';
  color: #333;
}